body {
background-color: #FFFFFF;
}
/* background-color: #FAE79A*/
#navigation-bar {
    font-family: "Lucida Console";
    color: #FFFFFF;
    font-weight: 500;
    width: 100%;
    /*
    border-bottom-style: solid;
    border-color: black;
    */
}
